a {
    text-decoration: none;
    color: black
}
/*style for homepage*/
.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.post {
    margin: auto;
    margin-top: 50px;
    border: 2px solid gray;
    width: 70%;
}
.content {
    margin-left: 10px;
    margin-top: 10px;
}
.blank {
    width: 20px;
}
.userimgname {
    align-items: center;
    display: flex;
    height: 50px;
}

/*style for awdeorio*/
.userinfo {
    margin: auto;
    margin-top: 70px;
    width: 70%;
}
.horizontalImages {
    display: flex;
    justify-content: space-between;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

/*style for follower*/
.followbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid gray;
}