<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>
    <body>
        <div class="topbar">
            <div>
                <a href="{{ url_for('show_index') }}">insta485</a>
            </div>
            <div class="topbar">
                <a href="{{ url_for('show_explore') }}"><b>explore</b></a>
                <div class="blank"></div>
                <div> | </div>
                <div class="blank"></div>
                <a href="{{ url_for('show_user', username=logname) }}"><b>{{logname}}</b></a>
            </div>
        </div>

        <h1>Discover People</h1>
        {% for user in users %}
            {% if user.username != logname and user.username not in following %}
                <div class="followbar">
                    <div>
                        <a href="{{ url_for('show_user', username=user.username) }}">
                            <div class="userimgname">
                                <img src="/uploads/{{ user.filename }}"
                                alt="suggestion {{user.username}} img">
                                <div class="blank"></div>
                                <b>{{ user.username }}</b>
                            </div>
                        </a>
                    </div>
                    <div>
                        <form action="/following/?target={{url_for('show_explore')}}"
                        method="post"
                        enctype="multipart/form-data">
                            <input type="submit" name="follow" value="follow"/>
                            <input type="hidden" name="username" value="{{ user.username }}"/>
                            <input type="hidden" name="operation" value="follow"/>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </body>
</html>