<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
        <link rel="stylesheet" type="text/css" href="../../../css/style.css">
    </head>
    <body>
        <div class="topbar">
            <div>
                <a href="/">insta485</a>
            </div>
            <div class="topbar">
                <a href="/explore/"><b>explore</b></a>
                <div class="blank"></div>
                <div> | </div>
                <div class="blank"></div>
                <a href="/users/{{logname}}/"><b>{{logname}}</b></a>
            </div>
        </div>

        <h1>Following</h1>
        {% for follow in following %}
        <div class="followbar">
            <div>
                <a href="/users/{{follow.username}}/">
                    <div class="userimgname">
                        <img src={{follow.user_img_url}} alt="following {{follow.username}} img">
                        <div class="blank"></div>
                        <b>{{follow.username}}</b>
                    </div>
                </a>
            </div>
            <div>
                {% if logname != follow.username and follow.logname_follows_username %}
                following
                {% elif logname != follow.username and not follow.logname_follows_username %}
                not following
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </body>
</html>