<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>
    <body>
        <div class="topbar">
            <div>
                <a href="/">insta485</a>
            </div>
            <div class="topbar">
                <a href="/explore/"><b>explore</b></a>
                <div class="blank"></div>
                <div> | </div>
                <div class="blank"></div>
                <a href="/users/{{logname}}/"><b>{{logname}}</b></a>
            </div>
        </div>
        {% for post in posts %}
        <div class="post">
            <div class="topbar">
                <div>
                    <a href="/users/{{post.owner}}/">
                        <div class="userimgname">
                            {% for user in users %}
                            {% if user.username ==  post.owner %}
                            <img src={{user.filename}} alt="{{post.owner}} img">
                            {% endif %}
                            {% endfor %}
                            <div class="blank"></div>
                            <b>{{post.owner}}</b>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/posts/{{post.postid}}/">
                        {{ timestamp_handler(post.created) }}
                    </a>
                </div>
            </div>
            <img src={{post.filename}} alt="post {{post.postid}} image">
            <div class="content">
                {% set like_count = namespace(value=0) %}
                {% for like_row in likes %}
                    {% if like_row.postid == post.postid %}
                        {% set like_count.value = like_count.value + 1 %}
                    {% endif %}
                {% endfor %}

                {% if like_count.value == 1 %}
                <p>{{like_count.value}} like</p>
                {% else %}
                <p>{{like_count.value}} likes</p>
                {% endif %}

                {% for comment in comments %}
                    {% if comment.postid == post.postid %}
                        <p>
                            <a href="/users/{{comment.owner}}/">
                                <b>{{comment.owner}}</b>
                            </a>
                            {{comment.text}}
                        </p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </body>
</html>