<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    </head>
    <body>
        <div class="topbar">
            <div>
                <a href="/">insta485</a>
            </div>
            <div class="topbar">
                <a href="accounts/login"><b>login</b></a>
            </div>
        </div>

        <!-- DO NOT CHANGE THIS (aside from styling) -->
        <form action="/accounts/?target={{url_for('show_index')}}"
            method="post"
            enctype="multipart/form-data">
        <input type="text" name="username" required/>
        <input type="password" name="password" required/>
        <input type="submit" value="login"/>
        <input type="hidden" name="operation" value="login"/>
        </form>
        <br>
        Don't have an account?
        <a href="{{ url_for('show_create') }}"><b>Sign up</b></a>