<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    </head>
    <body>
        <div class="topbar">
            <div>
                <a href="/">insta485</a>
            </div>
            <div class="topbar">
                <a href="/explore/"><b>explore</b></a>
                <div class="blank"></div>
                <div> | </div>
                <div class="blank"></div>
                <a href="{{ url_for('show_user', username=logname) }}"><b>{{logname}}</b></a>
            </div>
        </div>
        <p><b>{{ logname }}</b></p><br>
        <!-- DO NOT CHANGE THIS -->
        <form action="/accounts/?target={{ url_for('show_edit') }}"
        method="post"
        enctype="multipart/form-data">
            <p>Old password</p>
            <input type="password" name="password" required/>
            <p>New password</p>
            <input type="password" name="new_password1" required/>
            <p>New password, again</p>
            <input type="password" name="new_password2" required/>
            <input type="submit" name="update_password" value="submit"/>
            <input type="hidden" name="operation" value="update_password"/>
        </form>
        <a href="{{ url_for('show_edit') }}"><b>Back to edit account</b></a>
    </body>
</html>