<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    </head>
    <body>
        <div class="topbar">
            <div>
                <a href="/">insta485</a>
            </div>
            <div class="topbar">
                <a href="/explore/"><b>explore</b></a>
                <div class="blank"></div>
                <div> | </div>
                <div class="blank"></div>
                <a href="/users/{{logname}}/"><b>{{logname}}</b></a>
            </div>
        </div>

        <div class="post">
            <div class="topbar">
                <!--Declare variables-->
                {% set post_filename = namespace(value="") %}
                {% set post_ownername = namespace(value="") %}
                {% set owner_profilename = namespace(value="") %}
                {% set post_created = namespace(value=0) %}
                <!--Fill in variables-->
                {% for post in posts %}
                    {% if post.postid == postid %}
                        {% set post_filename.value = post.filename %}
                        {% set post_created.value = post.created %}
                        {% set post_ownername.value = post.owner %}
                        {% for user in users %}
                            {% if post_ownername.value == user.username %}
                                {% set owner_profilename.value = user.filename %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <div>
                    <a href="/users/{{ post_ownername.value }}/">
                        <div class="userimgname">
                            <img src="/uploads/{{ owner_profilename.value }}"
                            alt="post owner {{ post_ownername.value }}">
                            <div class="blank"></div>
                            <b>{{post_ownername.value}}</b>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/posts/{{postid}}/">{{ timestamp_handler(post_created.value) }}</a>
                </div>
            </div>

            <!-- loop through likes to set like count and liked -->
            {% set like_count = namespace(value=0) %}
            {% set liked = namespace(value=False) %}
            {% for like_row in likes %}
                {% if like_row.postid == postid %}
                    {% set like_count.value = like_count.value + 1 %}
                    {% if like_row.owner == logname %}
                        {% set liked.value = True %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            <img src="/uploads/{{ post_filename.value }}" alt="post {{postid}} image">
            <div class="content">
                <!--Print out likes-->
                {% if like_count.value == 1 %}
                <p>{{like_count.value}} like</p>
                {% else %}
                <p>{{like_count.value}} likes</p>
                {% endif %}
                {% for comment in comments %}
                    <!--Print out/Delete Comment-->
                    {% if comment.postid == postid %}
                        <p style="display:inline-block;">
                        <a href="/users/{{comment.owner}}/"><b>{{comment.owner}}</b></a>
                        {{comment.text}}
                        {% if comment.owner == logname %}
                            <form action="/comments/?target={{url_for('show_posts', postid=postid)}}"
                            method="post"
                            enctype="multipart/form-data"
                            style="display:inline-block; padding-left: 20px;">
                                <input type="hidden" name="operation" value="delete"/>
                                <input type="hidden" name="commentid" value="{{ comment.commentid }}"/>
                                <input type="submit" name="uncomment" value="delete"/>
                            </form>
                        {% endif %}
                        </p>
                        <br>
                    {% endif %}
                {% endfor %}
                <!--Like/Unlike Button-->
                {% if liked.value == True %}
                <form action="/likes/?target={{url_for('show_posts', postid=postid)}}" 
                    method="post"
                    enctype="multipart/form-data">
                    <input type="hidden" name="operation" value="unlike"/>
                    <input type="hidden" name="postid" value="{{ postid }}"/>
                    <input type="submit" name="unlike" value="unlike"/>
                </form>
                {% else %}
                <form action="/likes/?target={{url_for('show_posts', postid=postid)}}"
                    method="post"
                    enctype="multipart/form-data">
                    <input type="hidden" name="operation" value="like"/>
                    <input type="hidden" name="postid" value="{{ postid }}"/>
                    <input type="submit" name="like" value="like"/>
                </form>               
                {% endif %}
                <br>
                <!-- Comment box -->
                <form action="/comments/?target={{url_for('show_posts', postid=postid)}}"
                    method="post"
                    enctype="multipart/form-data">
                    <input type="hidden" name="operation" value="create"/>
                    <input type="hidden" name="postid" value="{{ postid }}"/>
                    <input type="text" name="text" required/>
                    <input type="submit" name="comment" value="comment"/>
                </form>
                <br>
                <!-- Delete this post -->
                {% if logname == post_ownername.value %}
                <form action="/posts/?target={{ url_for('show_user', username=logname) }}"
                    method="post"
                    enctype="multipart/form-data">
                    <input type="hidden" name="operation" value="delete"/>
                    <input type="hidden" name="postid" value="{{ postid }}"/>
                    <input type="submit" name="delete" value="delete this post"/>
                  </form>
                {% endif %}
            </div>
        </div>
    </body>
</html>

